<%- include('partials/header') %>

  <div class="main">
			<div class="signup">
				<form action="/send-reset-email" method="post">
					<label>Change password</label>
					<input type="email" name="email" placeholder="Email" required>
					<button>Change password</button>
				</form>
			</div>
	</div>

<%- include('partials/footer'); -%>