<%- include('partials/header') %>

  <div class="main">
			<div class="signup">
				<form action="/reset-password" method="post">
					<label>Reset Password</label>
					<% if (error) { %>
            <span class="error"><%= error %></span>
          <% } %>
					<input type="hidden" name="token" value="<%= token %>">
					<input type="password" name="newPassword" placeholder="Password" required>
					<button>Reset Password</button>
				</form>
			</div>
	</div>

<%- include('partials/footer'); -%>